* {
  margin: 0;
  padding: 0;
  line-height: 1.4rem;

 font-family: Lato, Open Sans, SF Pro Display, Helvetica Neue, Arial, sans-serif;
}

html, body {
  font-size: 20px;
}

body {
  background: #fff;
  padding-top: 2.8rem;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
}

hr { margin: 1.3rem 0; border-width: 0.1rem 0 0 0; border-color: #ddd; border-style: solid; }

h1 { font-family: Georgia, Palatino, serif; }
h1, h2 {
  margin-top: 1.4rem;
  line-height: 2.8rem;
  color: #444;
}
h3, h4, h5 {
  margin-top: 1.4rem;
  line-height: 1.4rem;
  color: #333;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:   "content"
                         "sidebar"
                         "footer";
  gap: 1em;
  padding: 0.7rem;
}

#main {
  grid-area: content;
}

@media (min-width: 600px) {
  #wrapper {
    margin: 0 auto;
    max-width: 50em;
    grid-template-columns: 3fr       1fr;
    grid-template-areas:   "content  sidebar"
                           "footer   footer";
  }
}

#main h1 {
  font-size: 3rem;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 2.8rem;
  margin-bottom: 1.4rem;
}

#main p {
  margin-bottom: 1.5rem;
}

#main ul, #main ol {
  margin: 1em;
}

#main li {
  font-size: 1rem;
  line-height: 1.5rem;
}

#main ul li {
  list-style-type: square;
}

#sidebar {
  border-left: 0.1rem solid #ddd;
  padding-left: 1em;
  grid-area: sidebar;
}

#sidebar h2 {
  font-size: 1rem;
  line-height: 2.8rem;
}

#sidebar ul {
  list-style-type: none;
}

#sidebar li {
  font-size: 0.8rem;
  line-height: 1.4rem;
}

#footer {
  grid-area: footer;
  border-top: 0.1rem solid #ddd;
  padding-top: 1.4rem;
  font-size: 0.8rem;
}
