* {
  margin: 0;
  padding: 0;
  line-height: 1.5rem;

  font-family: Georgia, Palatino, serif;
}

html, body {
  font-size: 20px;
}

body {
  background: #fff;
  padding-top: 2em;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
}

hr { margin: 1.4rem 0; border-width: 0.1rem; }

#wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:   "content"
                         "sidebar"
                         "footer";
  gap: 1em;
}

#main {
  grid-area: content;
}

@media (min-width: 600px) {
  #wrapper {
    margin: 0 auto;
    max-width: 50em;
    grid-template-columns: 3fr       1fr;
    grid-template-areas:   "content  sidebar"
                           "footer   footer";
  }
}

#main h1 {
  font-size: 3rem;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 2.8rem;
  margin-bottom: 1.4rem;
}

#main p {
  margin-bottom: 1.5rem;
}

#main ul, #main ol {
  margin: 1em;
}

#main li {
  font-size: 1rem;
  line-height: 1.5rem;
}

#main ul li {
  list-style-type: square;
}

#sidebar {
  border-left: 1px solid #ccc;
  padding-left: 1em;
  grid-area: sidebar;
}

#sidebar h2 {
  text-transform: uppercase;

  font-size: 1rem;
  color: #333;
  letter-spacing: 1px;
  line-height: 2.8rem;
  margin-bottom: 1.4rem;
}

#sidebar ul {
  list-style-type: none;
  margin: 20px 0;
}

#sidebar li {
  font-size: 0.8rem;
  line-height: 1.4rem;
}

#footer {
  grid-area: footer;
  border-top: 0.1rem solid #ddd;
  padding-top: 1.4rem;
  font-size: 0.8rem;
}
