<!DOCTYPE HTML>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @item[:title] %> - USk DE</title>
    <link rel="stylesheet" href="/stylesheet.css">
    <link rel="stylesheet" href="/lib/leaflet/leaflet.css">
    <script src="/lib/leaflet/leaflet.js"></script>
  </head>
  <body>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="cta-box">
        <p>Fehlt deine Stadt? Infos veraltet?</p>
        <a href="https://github.com/UrbanSketchers-de/urbansketchers.de/issues/new/choose" class="cta-btn">Chapter hinzufügen oder aktualisieren</a>
      </div>
      <p>Diese Seite ist kein offizielles Angebot von Urban Sketchers, sondern ein <a href="https://github.com/UrbanSketchers-de/urbansketchers.de">Community-Projekt</a> von Sketchern für Sketcher. Unser Ziel: das Entdecken von Gruppen in Deutschland erleichtern, um gemeinsam zu zeichnen und neue Leute kennenzulernen. Die Inhalte sind frei verfügbar &ndash; mach gerne mit!</p>
      <a href="https://urbansketchers.org/de/">Urban Sketchers International</a>
      <p>Das Urban Sketchers Logo wurde von Franco Lancio entworfen. „Urban Sketchers" und das Logo sind geschützte Marken von <a href="https://urbansketchers.org/">Urban Sketchers</a>.</p>
      <p>Impressum: Christian Tietze, Dostalstr. 18, 33647 Bielefeld &bull; <a href="mailto:christian.tietze@gmail.com">Email</a></p>
      <p>Datenschutz: Diese Seite sammelt keine Daten. Nur normale Server-Logs. Kartendaten von <a href="https://osmfoundation.org/wiki/Privacy_Policy">OpenStreetMap</a>.</p>
    </footer>
    <%= File.read('content/icons.svg') %>
  </body>
</html>
