name: Build and Deploy Site with Nanoc

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Setup SSH
      uses: kielabokkie/ssh-key-and-known-hosts-action@v1.2.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
        ssh-host: urbansketchers.de
    - uses: actions/checkout@v2
    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
    - name: Build the site
      run: bundle exec nanoc compile
    - name: Deploy
      run: bundle exec nanoc deploy public
